<div id="big-board">
  <div class="entry">
    <p class="description">Top Cat</p>
    <%= Player.top_player.name %>
  </div>

  <div class="entry">
    <p class="description">Season Average</p>
    <%= Player.season_average %>
  </div>

  <div class="entry">
    <p class="description">Bottom Player</p>
    <%= Player.bottom_player.name %>
  </div>
</div>